.portfolio {
    background-color:green;
    height: 60%;
    background: url(../../styles/images/test-images/roadlandscape.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.settle, .website {
    -webkit-clip-path: circle(48.6% at 49% 50%);
    clip-path: circle(48.6% at 49% 50%);
    width: 550px;
    max-width: 50%;
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
}