.portfolio {
    background-color:green;
    color: white;
    height: 80%;
    background: url(../../styles/images/bluepatternlight.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.settle, .website {
    -webkit-clip-path: circle(48.6% at 49% 50%);
    clip-path: circle(30.6% at 49% 50%);
    width: 100%;
    max-width: 45%;
    display: inline-grid;
    margin-left: 2%;
    margin-right: 2%;
}