.contact {
    background-color: black;
    height: 50%;
    color: white;
        background: url(../../styles/images/blackbox.jpg) no-repeat fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .actions  {        
        list-style-type: none;
    }


        a:link { color:white; text-decoration: none; }
        a:visited { color:white; text-decoration: none; }
        a:hover { color:white; text-decoration: none; }
        a:active { color:white; text-decoration: underline; }
        .contact ul {
            padding-top: 5px;
            padding-left: 0px !important;
          }
        