.personal {
    height: 90%;
    width: 50%;
    background: url(../../styles/images/test-images/mia.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#personal {
    background: url(../../styles/images/test-images/treeroad.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card-img-top {
    width: 5px;
}

.energyimg{
max-width: 225px;
}

.worldimg{
max-width: 300px;
}