.personal {
    height: 90%;
    width: 50%;
    background: url(../../styles/images/test-images/mia.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.images{
    width: 220px !important;
}

.cards {
    border: none !important;
    
}